@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');
* {
	box-sizing: border-box;
}

body {
	background-image: url("bg.jpg");
	background-size: 100vw 100vh;
	background-repeat: repeat-y;
	font-family: 'Smooch Sans', sans-serif;
}

.amongus {
	display: inline;
	transform: translate(-10px, 10px);
	padding-left: 20px;
}

table {
	display: inline-block;
	transform: translate(0px, 5px);
	line-height: 15px;
}

#mainpageform {
	display: inline-block;
	/*transform: translate(0, -30px);*/
}

h3 {
	display: inline;
}

#resultscontents {
	transform: translate(-8px, 100px);
	background-color: rgba(206, 206, 206, 0.651);
}

a {
	color: white;
}

h1 a{
	display: block;

}

#mainpagesearchbox {
	text-align: center;
	padding: 0px 10px 0px 0px;
	border-radius: 20px;
	display: inline-block;
	/*background-color: rgba(255, 192, 74, 0.7);*/
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	position: fixed;
	left: 0;
	top: 0;
	margin: 0;
	transform: translate(1%);
}

h1 {
	margin: 0;
	font-size: 50px;
	display: inline;
}

input[type="button"] {
	margin: 5px;
}