@import url('https://fonts.googleapis.com/css2?family=Smooch+Sans:wght@500&display=swap');
* {
	box-sizing: border-box;
}

body {
	background-image: url("bg.jpg");
	background-size: 100vw 100vh;
	background-repeat: no-repeat;
	font-family: 'Smooch Sans', sans-serif;
}

.amongus {
	display: inline;
	transform: translate(-20px, 20px);
}

#mainpagesearchbox {
	text-align: center;
	padding: 20px 80px 20px 80px;
	border-radius: 50px;
	/*background-color: rgba(255, 192, 74, 0.7);*/
	background-color: rgba(255, 255, 255, 0.7);
	color: black;
	position: absolute;
	left: 50vw;
	top: 40vh;
	margin: 0;
	transform: translate(-50%, -50%);
}

h1 {
	margin: 0;
	font-size: 90px;
	display: inline;
}

input[type="button"] {
	margin: 5px;
}